{% extends 'base.html' %}

{% block content %}
    <h1>Inbox</h1>
        {% for partner, last_message in conversation_partners %}
            <div class="post">
                <h2>{{ partner.username }}</h2>
                <p>{{ last_message.content }} ({{ last_message.created_at.strftime('%Y-%m-%d %H:%M:%S') }})</p>
                <a href="{{ url_for('message.view_conversation', user_id=partner.id) }}">View Conversation</a>
            <div>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('main.homepage') }}">Back to Homepage</a></p>
{% endblock %}
