{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 style="font-size: 80px; text-align:center;">Edit Request</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.category.label(class="form-label") }}<br> {{ form.category(class="form-input") }}<br>
        {{ form.content.label(class="form-label") }}<br> {{ form.content(class="form-input") }}<br>
        {{ form.image.label(class="form-label") }}<br> {{ form.image(class="form-input") }}
        {% if request.image_filename %}
          <img src="{{ url_for('static', filename='images/requests/' + request.image_filename) }}" alt="Request Image" style="width: 80%; margin-left: 10%;" class="post-image" onclick="enlargeImage(this.src)"><br>
        {% endif %}
        {{ form.submit(class="form-submit") }}
    </form>
</div>
{% endblock %}