{% extends 'base.html' %}
{% block content %}
<div class="text">
<h2 style="font-size: 45px;">Businesses</h2>
    {% for business in businesses %}
      <div class="post">
        <img src="{{ url_for('static', filename='images/businesses/' + business.image_filename) if business.image_filename else app_config['DEFAULT_BUSINESS_IMAGE_URL'] }}" alt="Business Image" class="profile-image" onclick="enlargeImage(this.src)">
        <h3 style="display: inline-block; font-size: 45px;"><a href="{{ url_for('business.business_profile', business_id=business.id) }}">{{business.business_name}}</a></h3>
        <h4 class="text">{{ business.description }}</h4>
        <p class="text">Location: {{business.state}}, {{business.country}}</p>
      </div>
    {% endfor %}
</div>
{% endblock %}