{% extends 'base.html' %}

{% block content %}
<h1 style="font-size: 80px; margin-bottom: 0%; text-align:center;">Post Detail</h1>
<div class="text">
<div style="margin: 2% 0%; width: 100%;" class="container">

<img src="{{ url_for('static', filename='images/businesses/' + post.business.image_filename) if post.business.image_filename else app_config['DEFAULT_BUSINESS_IMAGE_URL'] }}" alt="Business Image" class="profile-image"  onclick="enlargeImage(this.src)">
<h2 style="display: inline-block; font-size: 45px;">{{ post.business.business_name }}</h2>
    
<h3 style="font-size: 45px;" class="text">{{ post.title }}</h3>
<p class="text">{{ post.content }}</p>
{% if post.image_filename %}
    <img class="post-image" src="{{ url_for('static', filename='images/posts/' + post.image_filename) }}" alt="Post Image" onclick="enlargeImage(this.src)">
{% endif %}
    <hr>
<p style="display: inline-block;  margin-left:5%; margin-right:20%; "><a href="{{ url_for('post.like_post', post_id=post.id) }}">Like </a>{{ post.engagements | selectattr('engagement_type', 'equalto', 'like') | list | length }}</p>
<p style="display: inline-block;">Comments {{ post.engagements | selectattr('engagement_type', 'equalto', 'comment') | list | length }}</p>
</div>


<h2 style="margin-top: 20%;">Comments</h2>
{% for engagement in post.engagements %}
    {% if engagement.engagement_type == 'comment' %}
      <div class="post">
      <img src="{{ url_for('static', filename='images/profile_photos/' + engagement.user.image_filename) if engagement.user.image_filename else app_config['DEFAULT_PROFILE_PHOTO_URL'] }}" alt="Profile Image" class="profile-image" onclick="enlargeImage(this.src)">
      <h3 style="display: inline-block; font-size: 40px;">{{ engagement.user.username }}</h3> 
      <p style="font-size: 20px;">{{ engagement.comment }}</p>
      {% if current_user.id == engagement.user_id %}
          <p style="font-size: 10px;"><a href="{{ url_for('post.delete_comment',post_id=post.id, engagement_id=engagement.id) }}" onclick="return confirm('Confirm delete')">Delete Comment</a></p>
      {% endif %}
      </div>
    {% endif %}
{% else %}
    <p style="color:grey;"><i>No comments yet!</i></p>
{% endfor %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.comment(class="comment-box") }}
    {{ form.submit(class="comment") }}
</form>

{% if current_user.id == post.user_id %}
<a href="{{ url_for('post.edit_post', post_id=post_id) }}">Edit Post</a>
<a href="{{ url_for('post.delete_post', post_id=post_id) }}" onclick="return confirm('Confirm delete')">Delete Post</a>
{% endif %}

<p><a href="{{ url_for('business.business_profile', business_id=post.business.id) }}">View Business Profile</a></p>
<p><a href="{{ url_for('main.homepage') }}">Back to Homepage</a></p>
</div>
{% endblock %}