<!DOCTYPE html>
<html>
<head>
    <title>MarketMix</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>MarketMix</header>
    <nav>
        <ul>
            {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% else %}
            <li><a href="{{ url_for('main.homepage') }}">Home</a></li>
            <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('message.inbox') }}">Inbox</a></li>
            <li><a href="{{ url_for('request.create_request') }}">Create Request</a></li>
            <li><a href="{{ url_for('main.posts') }}">Posts</a></li>
            <li><a href="{{ url_for('main.requests') }}">Requests</a></li>
            <li><a href="{{ url_for('main.businesses') }}">Businesses</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <p>&copy;2025 MarketMix. All rights reserved </p>
    </footer>
</body>
</html>
